<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downloadPath</key>
	<string>~/Downloads/</string>
	<key>initRemoteIP</key>
	<string>80.38.220.149</string>
	<key>initRemotePort</key>
	<integer>8888</integer>
	<key>initLocalPort</key>
	<integer>6666</integer>
	<key>localConnection</key>
	<true/>
</dict>
</plist>
