<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>downloadPath</key>
	<string>~/Downloads/</string>
	<key>initRemoteIP</key>
	<string>80.38.220.149</string>
	<key>initRemotePort</key>
	<string>8888</string>
	<key>initLocalPort</key>
	<string>6666</string>
</dict>
</plist>
